<%- include('../partials/header') %>

<section>
  <div>Airline: </div> <div><%= flights.airline %></div>
  <br>
  <div>Flight Number: </div> <div><%= flights.flightNo %></div>
  <br>
  <div>Departure Date: </div> <div><%= flights.depart %></div>
  <br>
  <div>Departing Airport: </div> <div><%= flights.depAirport %></div>
</section>

<br /><br />

<form
id="add-destination-form"
method="POST"
action="/flights/<%= flights._id %>/destination"
>
  <label>Destination Airport: </label>
  <select name="destAirport">
    <option value="Paris">Paris</option>
    <option value="Los Angeles">Los Angeles</option>
    <option value="Anchorage">Anchorage</option>
    <option value="Cuba">Cuba</option>
    <option value="London">London</option>
    <option value="Sydney">Sydney</option>
  </select>
  <!-- <input type="checkbox" name="nowShowing" checked> -->
  <label>Arrival Time:
  <input type="datetime-local" name="arrives">
  </label>
  <input type="submit" value="Add Destination" />
</form>
    <div>
      <h2>Arrival Info</h2>
      <% if (flights.destination.length) { %>
      <% flights.destination.forEach(function(x) { %>
      <br>
      <%= x.destAirport %>
      <%= x.arrives %>

      <% })}; %>

      </div>

    <%- include('../partials/footer') %>