<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Flight<br>Number</th>
      <th>Departs</th>
      <th>Destination<br>City</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% flights.forEach(function(f) { %>
      <tr>
        <td><%= f.airline %></td>
        <td><%= f.flightNo %></td>
        <td><%= f.depart %></td>
        <td><%= f.desCity %></td>
        <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>